nav {
    width: 100%;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}


.burgerBtn {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    font-size: 14px;
    color: #777777;
}
.active{

}








