$titleColor: #494949;
$textColorH1: #414141;
$textColorH2: #bcbcbc;
$textColorH3andBtn: #ffffff;
$backgroundColor:#f5f5f5;
$textColorH4: #7b7b7b;
$textColorH5:#919191;
$textColorP:#6a6a6a;
$textColorFooter:#929292;
$colorMenu: #555555;
$colorMenuHeader: #999999;
$backgroundColorMenu: #2b2b2b;
$backgroundColorBtn: #393939;
$colorForForm:  #b3b3b3;
$colorForBorderInForm:  #d9d9d9;
$colorForRunningLine:  #b6b6b6;
$fontFamily: 'Poppins', sans-serif;
